body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  background-color: #defbfc;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav{
  display: contents;
  justify-content: space-between;
  font-size: 15.5px;
}



.media-body{
  color: #fc8403;
  font-weight: 530;

}

.container1 img{
  height: 50px;
  width: 100px;
  margin-left: 60px;

}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('me.png');
  background-size: cover;
  color: #ffffff;
  height: 440px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin-top: -200px;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  font-style: italic;
}


section{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 530px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

section .row .col-resume-6 img {
  margin: 0 0 30px;
  width: 50%;
  height: 270px;
}


.col-md-6 {
  margin: 0 0 30px;
}


.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
